@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Courgette|Indie+Flower|&display=swap');

/* 
Titles/Headings
font-family: 'Courgette', cursive;

Main Copy
font-family: 'Indie Flower', cursive;

"Other" Copy
font-family: 'Black Ops One', cursive;
*/

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-image: url('https://previews.123rf.com/images/hypnocreative/hypnocreative1606/hypnocreative160600193/59072668-stylish-and-fashionable-seamless-pattern-vector-design-with-abstract-geometric-shapes-repeating-tile.jpg');
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
body > main {
  background-color: rgb(132, 0, 255);
  max-width: 1080px;
}
/* Images */

.img-sizer {
  width: 10em;
  height: 10em;
}

img {
  height: 100%;
  width: 100%;
}

.hero-img-sizer {
  width: 15rem;
  height: 15rem;
}

.hero-img-center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3em;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-copy {
  text-align: center;
  background-color: rgb(100, 228, 228);
  padding: 3rem 0;
  margin-top: 0;
  font-family: 'Courgette', cursive;
  width: 100%;
  margin-bottom: 0;
}

blockquote {
  font-family: 'Black Ops One', cursive;
  background-color: rgb(228, 228, 188);
  padding: 1.5rem 5rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.5rem;
  margin: 0rem 0.2rem 0rem 0.2rem;
  width: 7rem;
  text-align: center;
  background-color: blueviolet;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: brown;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(206, 179, 179);
  text-align: center;
  height: 2rem;
  padding: 0.5rem;
}

footer p {
  margin: 0;
}

/* Home */

.featured-items {
  display: flex;
  justify-content: center;
  align-content: center;
}

.featured-item {
  margin: 1rem;
  border: 3px solid black;
  padding: 1em;
  background-color: cyan;
}

.featured-item:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 2em;
}

.featured-item h3 {
  text-align: center;
}

.home-intro {
  /* max-width: 900px; */
  /* this reduces the size of the body. I think I need something that FORCES the body to a certain size */
  margin: 3em 5em;
  text-align: center;
}

/* Ipsum Pages */

.learn-ipsum-header,
.ipsum-example {
  text-align: center;
  padding: 0.5em 2em;
}
